.container-background-carousel{
  height: 650px;
  width: 100vw;
}

.container-carousel{
  display: inline;
  padding-bottom: 5px;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100vw;
  overflow: hidden; 
  z-index: 1; 
  
  
  
}

.image{
  width: 1300px;
  height: 40vh;
  display: block;
  margin: 0 auto;
  object-fit: cover;


}

.container-carousel::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 130%;
  background-color: #d6e0fc;
  opacity: 0.5;
  z-index: -1;
}

.h2header{
  padding-top: 20px;
  border-bottom: none;
}

